<h1>Your Habits</h1>
<div class='container-fluid'>
  <div class='row'>

    <div class="col-md-4">
      <%= link_to "Create New Habit", new_habit_path, class: "btn btn-default" %>
    </div>

    <div class="col-md-4">
      <%= paginate(@habits) %>
    </div>
    <div class="col-md-4">
      <%= link_to "Create New Habit", new_habit_path, class: "btn btn-default" %>
    </div>

  </div>
  <div class='row'>
    <div class="col-md-4">
    <% @habits.each do |habit| %>
    <h2>
      <strong><%= habit.name %></strong>
    </h2>

    <p><strong>Why?</strong></p>
    <p><%= habit.mission_statement %></p>

    <p><strong>What?</strong></p>
    <p><%= habit.description %></p>

    <p> I will update my journal on this habit <%= habit.frequency %> </p>

    <p> The training will last for <%= habit.duration %> <% habit.frequency %>
      <% if habit.frequency == "daily" %>
      <%= "days." %>
      <% elsif habit.frequency == "weekly" %>
      <%= "weeks." %>
      <% else %>
      <%= "months." %>
      <% end %>
    </p>
    </div>

    <div class="col-md-4">
    <h4><%= habit.name %> Journal</h4>
    <% habit.journals.each do |journal| %>
    <p>
      <strong>Journal:</strong>
      <%= journal.body %>
    </p>
    <% end %>
      <% if ((habit.journals.count.to_f / habit.duration.to_f) * 100).to_i < 100 %>
        <h4>Update Journal</h4>
      <% else %>
        <h4>You're done!</h4>
        <h6>(but you can keep journaling if you want)</h6>
      <% end %>
    <p><%= render partial: "journals/form", locals: {habit: habit} %></p>
    <p><%= link_to 'Delete', habit_path(habit), class:"btn btn-danger",
    method: :delete, data: { confirm: "Are you sure?" } %></p>
    <% end %>
  </div>

  <div class="col-md-4">
    <% @habits.each do |habit| %>
    <% if ((habit.journals.count.to_f / habit.duration.to_f) * 100).to_i < 100 %>
    <h4><%= habit.name %></h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"
      style="width: <%= (habit.journals.count.to_f / habit.duration.to_f) * 100 %>%">
      <%= ((habit.journals.count.to_f / habit.duration.to_f) * 100).to_i %>%
    </div>
  </div>
  <% else %>
  <h3><i class="fa fa-check-square fa-lg"></i><%= habit.name %></h3>
  <% end %>
</div>

  <% end %>
</div>
</div>
